services:
  # ini untuk service app
  app:
    # env_file: .env.local
    env_file:
      - .env.staging
    # line ini untuk build image dari Dockerfile di directory yang sama
    build: .
    # ini nama container untuk service app
    container_name: axum_user_001
    # expose port 8000 di container ke port 8000 di host
    ports:
      - "8000:8000"
    # ini mengatur agar service app menunggu service db siap terlebih dahulu
    depends_on:
      - db
    # ini untuk mengatur variable environment di dalam container app
    environment:
      # kalau dari .env seperti ini
      - DATABASE_URL=${DATABASE_URL}

  # PostgreSQL Database Service
  db:
    image: postgres:15
    container_name: db
    # Expose PostgreSQL on port 5433 to avoid conflicts with local installations
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: meuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: simple_api
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
# catatan:
# cara menjalankan container untuk db-nya:
# `docker compose up -d db`
# cara akses dbnya lewat docker langsung
# docker exec -it db psql -U meuser -d simple_api
# atau lewat localhost
# psql -h localhost -p 5433 -U meuser -d simple_api

# menjalankan container appnya
# docker compose up -d app
# ini untuk rebuild
# docker compose up -d --build app
# untuk melihat lognya
# docker compose logs -f app
# untuk menghentikan semua container
# docker compose down

# config
# docker compose config
# docker compose --env-file ./.env.docker config
